In [15]:
import warnings
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
# File Path
food_access_data_to_load = Path("../Data/food_access.csv")

# Read shcool metrics into Pandas DataFrames
food_access_df = pd.read_csv(food_access_data_to_load)

food_access_df.head()

,County,Population,State,Housing Data.Residing in Group Quarters,Housing Data.Total Housing Units,Vehicle Access.1 Mile,Vehicle Access.1/2 Mile,Vehicle Access.10 Miles,Vehicle Access.20 Miles,Low Access Numbers.Children.1 Mile,...,Low Access Numbers.Low Income People.10 Miles,Low Access Numbers.Low Income People.20 Miles,Low Access Numbers.People.1 Mile,Low Access Numbers.People.1/2 Mile,Low Access Numbers.People.10 Miles,Low Access Numbers.People.20 Miles,Low Access Numbers.Seniors.1 Mile,Low Access Numbers.Seniors.1/2 Mile,Low Access Numbers.Seniors.10 Miles,Low Access Numbers.Seniors.20 Miles
0,Autauga County,54571,Alabama,455.0,20221,834.0,1045.0,222.0,0.0,9973.0,...,2307.0,0.0,37424.0,49497.0,5119.0,0.0,4393.0,5935.0,707.0,0.0
1,Baldwin County,182265,Alabama,2307.0,73180,1653.0,2178.0,32.0,0.0,30633.0,...,846.0,0.0,132442.0,165616.0,2308.0,0.0,21828.0,27241.0,390.0,0.0
2,Barbour County,27457,Alabama,3193.0,9820,545.0,742.0,201.0,0.0,3701.0,...,2440.0,0.0,19007.0,23762.0,4643.0,0.0,2537.0,3348.0,629.0,0.0
3,Bibb County,22915,Alabama,2224.0,7953,312.0,441.0,0.0,0.0,4198.0,...,102.0,0.0,17560.0,20989.0,365.0,0.0,2262.0,2630.0,72.0,0.0
4,Blount County,57322,Alabama,489.0,21578,752.0,822.0,0.0,0.0,12575.0,...,0.0,0.0,50848.0,54933.0,0.0,0.0,7114.0,7810.0,0.0,0.0

In [3]:
food_access_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 25 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   County                                         3142 non-null   object
 1   Population                                     3142 non-null   int64
 2   State                                          3142 non-null   object
 3   Housing Data.Residing in Group Quarters        3142 non-null   float64
 4   Housing Data.Total Housing Units               3142 non-null   int64
 5   Vehicle Access.1 Mile                          3142 non-null   float64
 6   Vehicle Access.1/2 Mile                        3142 non-null   float64
 7   Vehicle Access.10 Miles                        3142 non-null   float64
 8   Vehicle Access.20 Miles                        3142 non-null   float64
 9   Low Access Numbers.Children.1 Mile             3142 non-null   float64
 10  Low Access Numbers.Children.1/2 Mile           3142 non-null   float64
 11  Low Access Numbers.Children.10 Miles           3142 non-null   float64
 12  Low Access Numbers.Children.20 Miles           3142 non-null   float64
 13  Low Access Numbers.Low Income People.1 Mile    3142 non-null   float64
 14  Low Access Numbers.Low Income People.1/2 Mile  3142 non-null   float64
 15  Low Access Numbers.Low Income People.10 Miles  3142 non-null   float64
 16  Low Access Numbers.Low Income People.20 Miles  3142 non-null   float64
 17  Low Access Numbers.People.1 Mile               3142 non-null   float64
 18  Low Access Numbers.People.1/2 Mile             3142 non-null   float64
 19  Low Access Numbers.People.10 Miles             3142 non-null   float64
 20  Low Access Numbers.People.20 Miles             3142 non-null   float64
 21  Low Access Numbers.Seniors.1 Mile              3142 non-null   float64
 22  Low Access Numbers.Seniors.1/2 Mile            3142 non-null   float64
 23  Low Access Numbers.Seniors.10 Miles            3142 non-null   float64
 24  Low Access Numbers.Seniors.20 Miles            3142 non-null   float64
dtypes: float64(21), int64(2), object(2)
memory usage: 613.8+ KB

In [4]:
print(food_access_df.columns)

Index(['County', 'Population', 'State',
       'Housing Data.Residing in Group Quarters',
       'Housing Data.Total Housing Units', 'Vehicle Access.1 Mile',
       'Vehicle Access.1/2 Mile', 'Vehicle Access.10 Miles',
       'Vehicle Access.20 Miles', 'Low Access Numbers.Children.1 Mile',
       'Low Access Numbers.Children.1/2 Mile',
       'Low Access Numbers.Children.10 Miles',
       'Low Access Numbers.Children.20 Miles',
       'Low Access Numbers.Low Income People.1 Mile',
       'Low Access Numbers.Low Income People.1/2 Mile',
       'Low Access Numbers.Low Income People.10 Miles',
       'Low Access Numbers.Low Income People.20 Miles',
       'Low Access Numbers.People.1 Mile',
       'Low Access Numbers.People.1/2 Mile',
       'Low Access Numbers.People.10 Miles',
       'Low Access Numbers.People.20 Miles',
       'Low Access Numbers.Seniors.1 Mile',
       'Low Access Numbers.Seniors.1/2 Mile',
       'Low Access Numbers.Seniors.10 Miles',
       'Low Access Numbers.Seniors.20 Miles'],
      dtype='object')

In [5]:
# Reorder the Columns
column_order = ['State', 'County', 'Population', 'Housing Data.Total Housing Units', 'Housing Data.Residing in Group Quarters', 
                'Vehicle Access.1/2 Mile', 'Vehicle Access.1 Mile', 'Vehicle Access.10 Miles', 'Vehicle Access.20 Miles', 
                'Low Access Numbers.Children.1/2 Mile', 'Low Access Numbers.Children.1 Mile', 'Low Access Numbers.Children.10 Miles', 'Low Access Numbers.Children.20 Miles', 
                'Low Access Numbers.Low Income People.1/2 Mile', 'Low Access Numbers.Low Income People.1 Mile', 'Low Access Numbers.Low Income People.10 Miles', 'Low Access Numbers.Low Income People.20 Miles', 
                'Low Access Numbers.People.1/2 Mile', 'Low Access Numbers.People.1 Mile', 'Low Access Numbers.People.10 Miles', 'Low Access Numbers.People.20 Miles', 
                'Low Access Numbers.Seniors.1/2 Mile', 'Low Access Numbers.Seniors.1 Mile', 'Low Access Numbers.Seniors.10 Miles', 'Low Access Numbers.Seniors.20 Miles'
               ]

food_access_df = food_access_df[column_order]

In [6]:
# Rename the Columns
food_access_df.rename(columns={'Housing Data.Total Housing Units': 'Total_Housing_Units', 
                                 'Housing Data.Residing in Group Quarters': 'Residing_in_Group_Quarters', 
                                 'Vehicle Access.1/2 Mile': 'No_Vehicle_Half_Mile', 
                                 'Vehicle Access.1 Mile': 'No_Vehicle_1_Mile', 
                                 'Vehicle Access.10 Miles': 'No_Vehicle_10_Miles', 
                                 'Vehicle Access.20 Miles': 'No_Vehicle_20_Miles', 
                                 'Low Access Numbers.Children.1/2 Mile': 'Children_Half_Mile', 
                                 'Low Access Numbers.Children.1 Mile': 'Children_1_Mile', 
                                 'Low Access Numbers.Children.10 Miles': 'Children_10_Miles', 
                                 'Low Access Numbers.Children.20 Miles': 'Children_20_Miles', 
                                 'Low Access Numbers.Low Income People.1/2 Mile': 'Low_Income_Half_Mile', 
                                 'Low Access Numbers.Low Income People.1 Mile': 'Low_Income_1_Mile', 
                                 'Low Access Numbers.Low Income People.10 Miles': 'Low_Income_10_Miles', 
                                 'Low Access Numbers.Low Income People.20 Miles': 'Low_Income_20_Miles', 
                                 'Low Access Numbers.People.1/2 Mile': 'Population_Half_Mile', 
                                 'Low Access Numbers.People.1 Mile': 'Population_1_Mile', 
                                 'Low Access Numbers.People.10 Miles': 'Population_10_Miles', 
                                 'Low Access Numbers.People.20 Miles': 'Population_20_Miles', 
                                 'Low Access Numbers.Seniors.1/2 Mile': 'Seniors_Half_Mile', 
                                 'Low Access Numbers.Seniors.1 Mile': 'Seniors_1_Mile', 
                                 'Low Access Numbers.Seniors.10 Miles': 'Seniors_10_Miles', 
                                 'Low Access Numbers.Seniors.20 Miles': 'Seniors_20_Miles' 
                                }, 
                        inplace=True
                       )

In [7]:
print(food_access_df.columns)

Index(['State', 'County', 'Population', 'Total_Housing_Units',
       'Residing_in_Group_Quarters', 'No_Vehicle_Half_Mile',
       'No_Vehicle_1_Mile', 'No_Vehicle_10_Miles', 'No_Vehicle_20_Miles',
       'Children_Half_Mile', 'Children_1_Mile', 'Children_10_Miles',
       'Children_20_Miles', 'Low_Income_Half_Mile', 'Low_Income_1_Mile',
       'Low_Income_10_Miles', 'Low_Income_20_Miles', 'Population_Half_Mile',
       'Population_1_Mile', 'Population_10_Miles', 'Population_20_Miles',
       'Seniors_Half_Mile', 'Seniors_1_Mile', 'Seniors_10_Miles',
       'Seniors_20_Miles'],
      dtype='object')

In [8]:
# Change column values to percent of population
percentage_columns = ['Residing_in_Group_Quarters', 
                      'No_Vehicle_Half_Mile', 'No_Vehicle_1_Mile', 'No_Vehicle_10_Miles', 'No_Vehicle_20_Miles', 
                      'Children_Half_Mile', 'Children_1_Mile', 'Children_10_Miles', 'Children_20_Miles', 
                      'Low_Income_Half_Mile', 'Low_Income_1_Mile', 'Low_Income_10_Miles', 'Low_Income_20_Miles', 
                      'Population_Half_Mile', 'Population_1_Mile', 'Population_10_Miles', 'Population_20_Miles', 
                      'Seniors_Half_Mile', 'Seniors_1_Mile', 'Seniors_10_Miles', 'Seniors_20_Miles'
                     ]

# Convert to percentage of the population
for col in percentage_columns:
    food_access_df[col] = (food_access_df[col] / food_access_df['Population']) * 100

food_access_df.head()

,State,County,Population,Total_Housing_Units,Residing_in_Group_Quarters,No_Vehicle_Half_Mile,No_Vehicle_1_Mile,No_Vehicle_10_Miles,No_Vehicle_20_Miles,Children_Half_Mile,...,Low_Income_10_Miles,Low_Income_20_Miles,Population_Half_Mile,Population_1_Mile,Population_10_Miles,Population_20_Miles,Seniors_Half_Mile,Seniors_1_Mile,Seniors_10_Miles,Seniors_20_Miles
0,Alabama,Autauga County,54571,20221,0.833776,1.914937,1.528284,0.406809,0.0,24.337102,...,4.227520,0.0,90.702021,68.578549,9.380440,0.0,10.875740,8.050063,1.295560,0.0
1,Alabama,Baldwin County,182265,73180,1.265739,1.194963,0.906921,0.017557,0.0,21.001289,...,0.464159,0.0,90.865498,72.664527,1.266288,0.0,14.945821,11.975969,0.213974,0.0
2,Alabama,Barbour County,27457,9820,11.629093,2.702407,1.984922,0.732054,0.0,18.002695,...,8.886623,0.0,86.542594,69.224606,16.910078,0.0,12.193612,9.239902,2.290855,0.0
3,Alabama,Bibb County,22915,7953,9.705433,1.924504,1.361554,0.000000,0.0,21.051713,...,0.445123,0.0,91.595025,76.631028,1.592843,0.0,11.477198,9.871263,0.314205,0.0
4,Alabama,Blount County,57322,21578,0.853076,1.434004,1.311887,0.000000,0.0,23.695963,...,0.000000,0.0,95.832316,88.705907,0.000000,0.0,13.624786,12.410593,0.000000,0.0

In [9]:
food_access_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State                       3142 non-null   object
 1   County                      3142 non-null   object
 2   Population                  3142 non-null   int64
 3   Total_Housing_Units         3142 non-null   int64
 4   Residing_in_Group_Quarters  3142 non-null   float64
 5   No_Vehicle_Half_Mile        3142 non-null   float64
 6   No_Vehicle_1_Mile           3142 non-null   float64
 7   No_Vehicle_10_Miles         3142 non-null   float64
 8   No_Vehicle_20_Miles         3142 non-null   float64
 9   Children_Half_Mile          3142 non-null   float64
 10  Children_1_Mile             3142 non-null   float64
 11  Children_10_Miles           3142 non-null   float64
 12  Children_20_Miles           3142 non-null   float64
 13  Low_Income_Half_Mile        3142 non-null   float64
 14  Low_Income_1_Mile           3142 non-null   float64
 15  Low_Income_10_Miles         3142 non-null   float64
 16  Low_Income_20_Miles         3142 non-null   float64
 17  Population_Half_Mile        3142 non-null   float64
 18  Population_1_Mile           3142 non-null   float64
 19  Population_10_Miles         3142 non-null   float64
 20  Population_20_Miles         3142 non-null   float64
 21  Seniors_Half_Mile           3142 non-null   float64
 22  Seniors_1_Mile              3142 non-null   float64
 23  Seniors_10_Miles            3142 non-null   float64
 24  Seniors_20_Miles            3142 non-null   float64
dtypes: float64(21), int64(2), object(2)
memory usage: 613.8+ KB

In [10]:
# File Path
county_key_data_to_load = Path("../Outputs/county_key.csv")

# Read shcool metrics into Pandas DataFrames
county_key_df = pd.read_csv(county_key_data_to_load)

county_key_df.head()

,County,State_Abbr,State_Desc,CountyFIPS,Latitude,Longitude
0,Aleutians East Borough,AK,Alaska,2013,55.245044,-161.997477
1,Aleutians West Census Area,AK,Alaska,2016,51.959447,178.338813
2,Anchorage Municipality,AK,Alaska,2020,61.174250,-149.284329
3,Bethel Census Area,AK,Alaska,2050,60.929141,-160.152625
4,Bristol Bay Borough,AK,Alaska,2060,58.741661,-156.966805

In [11]:
county_key_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   County      3142 non-null   object
 1   State_Abbr  3142 non-null   object
 2   State_Desc  3142 non-null   object
 3   CountyFIPS  3142 non-null   int64
 4   Latitude    3142 non-null   float64
 5   Longitude   3142 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 147.4+ KB

In [12]:
missing_df = county_key_df[county_key_df['CountyFIPS'] == 35013]
missing_df

,County,State_Abbr,State_Desc,CountyFIPS,Latitude,Longitude
1938,DoÃƒÂ±a Ana County,NM,New Mexico,35013,32.349919,-106.834968

In [13]:
# Update the value in the 'County' column where it matches the incorrect value
county_key_df.loc[county_key_df['County'] == "DoÃƒÂ±a Ana County", 'County'] = "Do_Â¡Â¾a Ana County"

# Merge the two DataFrames on County and State
food_access_fips_df = pd.merge(
    food_access_df, 
    county_key_df[['County', 'State_Desc', 'CountyFIPS', 'Latitude', 'Longitude']], 
    left_on=['County', 'State'], 
    right_on=['County', 'State_Desc'], 
    how='left'
)

# Drop 'State_Abbr' from the merged dataframe if no longer needed
food_access_fips_df.drop(columns='State_Desc', inplace=True)

# Check the first few rows of the merged dataframe
food_access_fips_df.head()

,State,County,Population,Total_Housing_Units,Residing_in_Group_Quarters,No_Vehicle_Half_Mile,No_Vehicle_1_Mile,No_Vehicle_10_Miles,No_Vehicle_20_Miles,Children_Half_Mile,...,Population_1_Mile,Population_10_Miles,Population_20_Miles,Seniors_Half_Mile,Seniors_1_Mile,Seniors_10_Miles,Seniors_20_Miles,CountyFIPS,Latitude,Longitude
0,Alabama,Autauga County,54571,20221,0.833776,1.914937,1.528284,0.406809,0.0,24.337102,...,68.578549,9.380440,0.0,10.875740,8.050063,1.295560,0.0,1001.0,32.532237,-86.646439
1,Alabama,Baldwin County,182265,73180,1.265739,1.194963,0.906921,0.017557,0.0,21.001289,...,72.664527,1.266288,0.0,14.945821,11.975969,0.213974,0.0,1003.0,30.659218,-87.746067
2,Alabama,Barbour County,27457,9820,11.629093,2.702407,1.984922,0.732054,0.0,18.002695,...,69.224606,16.910078,0.0,12.193612,9.239902,2.290855,0.0,1005.0,31.870253,-85.405103
3,Alabama,Bibb County,22915,7953,9.705433,1.924504,1.361554,0.000000,0.0,21.051713,...,76.631028,1.592843,0.0,11.477198,9.871263,0.314205,0.0,1007.0,33.015893,-87.127148
4,Alabama,Blount County,57322,21578,0.853076,1.434004,1.311887,0.000000,0.0,23.695963,...,88.705907,0.000000,0.0,13.624786,12.410593,0.000000,0.0,1009.0,33.977357,-86.566440

In [18]:
food_access_fips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State                       3142 non-null   object
 1   County                      3142 non-null   object
 2   Population                  3142 non-null   int64
 3   Total_Housing_Units         3142 non-null   int64
 4   Residing_in_Group_Quarters  3142 non-null   float64
 5   No_Vehicle_Half_Mile        3142 non-null   float64
 6   No_Vehicle_1_Mile           3142 non-null   float64
 7   No_Vehicle_10_Miles         3142 non-null   float64
 8   No_Vehicle_20_Miles         3142 non-null   float64
 9   Children_Half_Mile          3142 non-null   float64
 10  Children_1_Mile             3142 non-null   float64
 11  Children_10_Miles           3142 non-null   float64
 12  Children_20_Miles           3142 non-null   float64
 13  Low_Income_Half_Mile        3142 non-null   float64
 14  Low_Income_1_Mile           3142 non-null   float64
 15  Low_Income_10_Miles         3142 non-null   float64
 16  Low_Income_20_Miles         3142 non-null   float64
 17  Population_Half_Mile        3142 non-null   float64
 18  Population_1_Mile           3142 non-null   float64
 19  Population_10_Miles         3142 non-null   float64
 20  Population_20_Miles         3142 non-null   float64
 21  Seniors_Half_Mile           3142 non-null   float64
 22  Seniors_1_Mile              3142 non-null   float64
 23  Seniors_10_Miles            3142 non-null   float64
 24  Seniors_20_Miles            3142 non-null   float64
 25  CountyFIPS                  3140 non-null   float64
 26  Latitude                    3140 non-null   float64
 27  Longitude                   3140 non-null   float64
dtypes: float64(24), int64(2), object(2)
memory usage: 687.4+ KB

In [19]:
# View rows with any null values
rows_with_nulls = food_access_fips_df[food_access_fips_df.isnull().any(axis=1)]

# Display the result
rows_with_nulls

,State,County,Population,Total_Housing_Units,Residing_in_Group_Quarters,No_Vehicle_Half_Mile,No_Vehicle_1_Mile,No_Vehicle_10_Miles,No_Vehicle_20_Miles,Children_Half_Mile,...,Population_1_Mile,Population_10_Miles,Population_20_Miles,Seniors_Half_Mile,Seniors_1_Mile,Seniors_10_Miles,Seniors_20_Miles,CountyFIPS,Latitude,Longitude
92,Alaska,Valdez-Cordova Census Area,9636,3966,2.085928,2.895392,2.687837,1.888751,1.380241,18.389373,...,62.536322,28.268991,17.11291,6.299294,5.707763,2.90577,2.002906,NaN,NaN,NaN
548,Hawaii,Kalawao County,90,69,3.333333,16.666667,16.666667,0.000000,0.000000,0.000000,...,100.000000,0.000000,0.00000,28.888889,28.888889,0.00000,0.000000,NaN,NaN,NaN

In [20]:
food_access_fips_df.dropna(inplace=True)

# Convert 'CountyFIPS' column to integer
food_access_fips_df['CountyFIPS'] = food_access_fips_df['CountyFIPS'].astype(np.int64)

food_access_fips_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3140 entries, 0 to 3141
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State                       3140 non-null   object
 1   County                      3140 non-null   object
 2   Population                  3140 non-null   int64
 3   Total_Housing_Units         3140 non-null   int64
 4   Residing_in_Group_Quarters  3140 non-null   float64
 5   No_Vehicle_Half_Mile        3140 non-null   float64
 6   No_Vehicle_1_Mile           3140 non-null   float64
 7   No_Vehicle_10_Miles         3140 non-null   float64
 8   No_Vehicle_20_Miles         3140 non-null   float64
 9   Children_Half_Mile          3140 non-null   float64
 10  Children_1_Mile             3140 non-null   float64
 11  Children_10_Miles           3140 non-null   float64
 12  Children_20_Miles           3140 non-null   float64
 13  Low_Income_Half_Mile        3140 non-null   float64
 14  Low_Income_1_Mile           3140 non-null   float64
 15  Low_Income_10_Miles         3140 non-null   float64
 16  Low_Income_20_Miles         3140 non-null   float64
 17  Population_Half_Mile        3140 non-null   float64
 18  Population_1_Mile           3140 non-null   float64
 19  Population_10_Miles         3140 non-null   float64
 20  Population_20_Miles         3140 non-null   float64
 21  Seniors_Half_Mile           3140 non-null   float64
 22  Seniors_1_Mile              3140 non-null   float64
 23  Seniors_10_Miles            3140 non-null   float64
 24  Seniors_20_Miles            3140 non-null   float64
 25  CountyFIPS                  3140 non-null   int64
 26  Latitude                    3140 non-null   float64
 27  Longitude                   3140 non-null   float64
dtypes: float64(23), int64(3), object(2)
memory usage: 711.4+ KB

In [22]:
food_access_fips_df.to_csv('../Outputs/food_access.csv', index=False)